* {
    font-family: 'Roboto', sans-serif;
}

#title {
    font-size: 28px;
    margin: 20px auto 20px auto;
    padding: 4px;
    display: block;
    border: none;
    border-bottom: #aaa solid 1px;
    text-align: center;
    width: 500px;
    outline: none;
}

canvas {
    margin: 0 auto;
    display: block;
}

table {
    width: 828px;
    margin: 5px auto;
    border-collapse: collapse;
    box-shadow: 0px 3px 5px rgba(128, 128, 128, 0.4);
}

thead {
    background-color: #0070FF;
    color: #ffffff;
}

thead>tr>th {
    padding: 8px 0;
}

tbody:before,
tbody:after {
    content: '';
    display: block;
    height: 5px;
}

td {
    text-align: center;
    padding: 3px 0;
    font-size: 14px;
}

td>input,
td>input:focus {
    font-size: 14px;
    padding: 2px;
    border: none;
    margin: 2px 0;
    border-bottom: #AAA solid 1px;
    text-align: center;
    width: 50px;
    outline: none;
}

.buttonContainer {
    width: 828px;
    margin: 10px auto;
}

pre {
    padding: 0 20px;
    font-size: 14px;
    font-family: 'Source Code Pro', monospace !important;
}

button {
    background-color: #0070FF;
    border: none;
    padding: 7px 12px;
    border-radius: 4px;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.25s
}

button:hover {
    background-color: #0062EE;
    color: #FFFFFF;
}

button:focus {
    outline: none;
}

.delete {
    background-color: #FF1900;
}

.delete:hover {
    background-color: #EE1900;
}

#field {
    background-size: contain;
    background-image: url('images/field.png');
    background-repeat: no-repeat;
}

input[type=checkbox] {
    transform: scale(1.25);
    padding: 10px;
}

body>footer {
    font-size: 70%;
    padding: 3em 0 1em 0em;
    text-align: center;
}

body>footer>address {
    margin-bottom: 0.5em;
}

body>footer .social {
    margin-top: 2em;
}

body>footer img {
    width: 4em;
}

.robot>rect {
    stroke-width: 3;
    stroke: #ff8c11;
    fill: transparent;
}

.robot>line {
    stroke-width: 3;
    stroke: #FF1900;
    fill: transparent;
}

.waypoint:hover {
    fill: #FBFF16;
}

.waypoint {
    fill: #FF1900;
}

#path {
    stroke: #2CFF2C;
    stroke-width: 3;
    fill: transparent;
}

#odometry {
    stroke: #2CFF2C;
    stroke-width: 3;
    fill: transparent;
}